* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
}

.navbar nav {
	flex: 1;
	text-align: right !important;
}

.navbar nav ul {
	display: inline-block;
	list-style-type: none;
}

.navbar nav ul li {
	display: inline-block;
	margin-right: 20px;
}

.navlink:hover {
	border-bottom: 3px solid #5f1782 !important;
}

.navbar a {
	text-decoration: none;
	color: #555;
}

.navbar p {
	color: #555;
}

.navbar .nav-text {
	font-weight: 700 !important;
	margin-left: 10px;
	color: #5f1782;
}

.fa-bars {
	font-size: 30px;
	display: none;
	margin-left: 20px;
}

/*media query for menu*/
@media only screen and (max-width: 992px) {
	.navbar nav ul {
		position: absolute;
		top: 105px;
		right: 30px;
		background-image: linear-gradient(to right, #330867, #5f1782);
		width: 50%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	.navbar nav ul li {
		display: block;
		margin-right: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.navbar a {
		color: white !important;
	}
	.menu-icon {
		display: block;
		cursor: pointer;
	}
}

/*media query for screen under 576px*/
@media only screen and (max-width: 576px) {
	.logo img {
		width: 120px;
	}
	.nav-row {
		text-align: center;
	}
	.baris {
		text-align: center;
	}
	.baris2 {
		text-align: center;
	}
	.column-2 .column-3 .kolom-3 .kolom-2 {
		flex-basis: 100%
	}
	.footer-logo {
		display: inline-flex;
		align-items: center;
	}
}

.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.nav-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.column-2 {
	flex-basis: 50%;
	min-width: 300px;
	padding: 30px;
}

.column-2 img {
	max-width: 100% !important;
	padding-right: 20px;
}

.column-2 h1 {
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.nav-btn {
	text-decoration: none;
	display: inline-block;
	box-shadow: none;
	padding: 8px 25px;
	border : none;
	margin: 30px 0;
	border-radius: 20px;
	background-image: linear-gradient(to right, #330867, #5f1782);
	color: white;
	transition: background 0.5s;
	margin-bottom: 50px;
}

.nav-btn:hover {
	background: linear-gradient(to right, #9370DB 0%, #330867 100%);
}

#navbar {
	background: radial-gradient(#fff,#E6E6FA);
}

.nav-btn-primary {
	text-decoration: none;
	display: inline-block;
	box-shadow: none;
	padding: 8px 25px;
	border : none;
	border-radius: 20px;
	background-image: linear-gradient(to right, #330867, #5f1782);
	color: white;
	transition: background 0.5s;
}
.nav-btn-primary:hover {
	background: linear-gradient(to right, #9370DB 0%, #330867 100%);
	color: white;
}

.fa {
	margin-right: 10px;
}

.nav-row .subtitle {
	margin-top: 50px;
	font-size: 20px;
	font-weight: 600;
}

#foto {
	margin: 70px 0;
	padding-bottom: 70px;
}

.baris {
	display: flex !important;
	align-items: center !important;
	flex-wrap: wrap !important;
	justify-content: space-around !important;
	margin-top: 50px;
}

.column-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	transition: transform 0.5s !important;
}
.column-3:hover {
	transform: translateY(-10px);
}
.column-3 img {
	width: 100%;
	box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.16), 5px 3px 6px rgba(0, 0, 0, 0.23);
}

.small-container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	margin-top: -30px;
}

#databases {
	background-color: #eeeeee;
	padding-top: 70px;
	padding-bottom: 70px;
}

.title {
	text-align: center;
	margin: 0 auto;
	position: relative;
	line-height: 60px;
	color: black;
}

.mt {
	margin-top: 20px;
}

.title::after {
	content: '';
	background: #5f1782;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.databases-col {
	flex-basis: 50% !important;
}

.databases-col .img1 {
	width: 100%;
}

.wrapper {
	padding: 30px;
	background-color: white;
	border-radius: 20px;
	margin: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.5s;
}

.databases-col .img2 {
	width: 88%;
}

.databases-col .img3 {
	width: 107%;
}

.btn-primary {
	text-decoration: none;
	display: inline-block;
	box-shadow: none;
	padding: 8px 25px;
	border : none;
	border-radius: 20px;
	background-image: linear-gradient(to right, #330867, #5f1782);
	color: white;
	transition: background 0.5s;
	margin-top: 20px;
}

.btn-primary:hover {
	background: linear-gradient(to right, #9370DB 0%, #330867 100%);
}

.wrapper:hover {
	transform: translateY(-20px);
}

.kolom-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	margin-top: 40px;
	transition: transform 0.5s !important;
	text-align: center;
	padding: 20px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
}
.kolom-3:hover {
	transform: translateY(-10px);
}
.kolom-3 .img {
	width: 250px;
	padding-right: 15px;
	margin-top: -30px;
}

#about {
	padding-top: 100px;
}

.fa-quote-left {
	font-size: 34px;
	color: #9370DB;
	margin-bottom: 20px;
}

.fa-quote-right {
	font-size: 34px;
	color: #9370DB;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;
}

.nama {
	font-weight: 600;
}
.kolom-3 .img2 {
	width: 230px;
	padding-right: 15px;
	margin-top: -30px;
}

#footer {
	background-image: linear-gradient(to right, #f1f6f9, #E6E6FA);
}

.footer-text {
	font-size: 16px;
	margin-left: 10px;
}

.baris2 {
	display: flex !important;
	flex-wrap: wrap !important;
	margin-top: 100px;
}

.footer-p {
	font-weight: 500;
	margin-top: 12px;
	margin-left: 100px;
	justify-content: flex-end !important;
}

#quote {
	background-color: #f1f6f9;
	margin-top: -50px;
}

.kolom-2 {
	flex-basis: 50%;
	min-width: 300px;
	padding: 30px;
	margin-bottom: 70px;
	margin-top: 50px;
}

.kolom-2 img {
	max-width: 100% !important;
}

.login-page {
	background-color: #E6E6FA;
}

.form-check-label {
	margin-left: 10px;
}

.wrap {
	padding: 30px;
	background-color: white;
	border-radius: 20px;
	margin: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gradient-text {
  background: linear-gradient(to right, #30CFD0 0%, #5f1782 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropbtn {
  padding : 10px;
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  background-image: linear-gradient(to right, #330867, #5f1782);
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: 20px;
  border-radius: 20px;
}

.dropbtn:hover, .dropbtn:focus {
background: linear-gradient(to right, #9370DB 0%, #330867 100%);
  color: #fff;
}

.dropbtn img {
	border: 2px solid #e2b0ff;
	background-color: white;
	margin-right: 10px;
	margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E6E6FA;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
	text-align: left;
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-top: black;
}

.dropdown-content a:hover {background-color: #fff}

.show {display:block;}

.stickynav {
	display: flex;
	align-items: center;
	background: linear-gradient(to right, #9370DB 0%, #330867 100%);
}

.stickynav nav {
	flex: 1;
	text-align: center !important;
}

.stickynav nav ul {
	display: inline-block;
	list-style-type: none;
	margin-bottom: 0px;
}

.stickynav nav ul li {
	display: inline-block;
	margin: 0px;
	padding: 20px 20px;
}

.stickynav nav ul li:hover {
	background-color: #e2b0ff;
}

.stickynav a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.stickynav nav ul li:hover a {
	color: #330867;
}

.stickynav p {
	color: #555;
}

.stickynav .nav-text {
	font-weight: 700 !important;
	color: #5f1782;
}

.nav-fa-icon {
	font-size: 23px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.stickynav ul li.active{
	background-color: #e2b0ff;
	margin-right: 0px;
	margin-left: 0px;
}

.stickynav ul li.active a {
	color: #330867;
}

.icon {
	margin-right: 10px !important;
}

.wrap1 {
	flex-basis: 70%;
	padding: 30px;
	background-color: white;
	border-radius: 20px;
	margin: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.side {
	flex-basis: 30%;
}

.signup-text {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 70px;
}

.signup-text h1 {
	font-size: 60px;
	color: #330867;
}

.signup-text .fa {
	font-size: 25px;
}

.star-1 {
	margin-left: -20px;
}

.star-2 {
	margin-left: 220px;
	margin-bottom: 50px;
}

.signup-text h6 {
	margin-top: 20px;
}

table th {
  width: auto!important;

}

table tr {
  width: auto!important;

}